<h1 style="display:inline-block">Liste des Utilisateurs</h1>
<ul style="display:inline-block">
	<li><%= link_to "Tous les utilisateurs", users_path %></li>
	<li><%= link_to "Non Sportifs voulant faire du sport", listeNonSportifVoulantFaireDuSport_path %></li>
</ul>
<div class="clearer"></div>
<p>Télécharger la liste des utilisateurs en pdf <%= link_to image_tag("pdf.png", size: "25x25"), "/users.pdf"%></p>
<a href="#" onClick="afficher_masquer_sport_option('[name=\'sport_option\']')">Afficher/cacher "Aimerait faire du sport"</a>
<table>
	<tr style="background:#DDDDDD" >
		<th>Utilisateur</th>
		<th>Email</th>
		<th>Age</th>
		<th>Taille</th>
		<th>Poid</th>
		<th>Poid Idéal</th>
		<th>IMC</th>
		<th>Fait du sport</th>
		<th name="sport_option">Aimerait faire du sport</th>
		<th>CV</th>
		<% if current_user && current_user.admin? %>
		<th>Action</th>
		<% end %>
	</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.nom,user_path(user) %></td>
		<td><%= user.email%></td>
		<td><%= user.age %></td>
		<td><%= user.taille %></td>
		<td><%= user.poid %></td>
		<td><%= user.poidIdeal %></td>
		<td><%= user.imc %></td>
		<td><%= (user.sport)?"Oui":"Non" %></td>
		<td name="sport_option"><%= (user.aimeSport)?"Oui":"Non" %></td>
		<td>
			<% if user.cv_file_name %>
				<%= link_to image_tag("Télécharger.ico", size: "25x25"), user.cv.url(:original, false) %>
			<% end %>
		</td>
		<td>
		<% if current_user && current_user.admin? %>
		<%= link_to "modifier", edit_user_path(user) %>
		| <%= link_to "supprimer", user, :method => :delete, :confirm => "Etes-vous certain ?",
					      :title => "Supprimer #{user.nom}" %>
		<% end %>
		</td>
	</tr>
<% end %>
</table>
